<div class="sidebar_inner">
<address>
    Samuel Kaufman <br/>
    CTO & Codemonkey @ <a href="http://www.socialflow.com" target="_blank">socialflow.com</a> </br>
    <a href="http://twitter.com/edibleenergy" target="_blank">twitter.com/edibleenergy</a> </br>
    New York, NY <br/>
</address>
<p class="tech">
<h5>Site tech:</h5>
<ul>
    <li><a href="https://metacpan.org/module/Catalyst" target="_blank">Catalyst</a></li>
    <li><a href="https://metacpan.org/module/HTML::Zoom" target="_blank">HTML::Zoom</a></li>
    <li><a href="http://twitter.github.com/bootstrap/index.htmli" target="_blank">Bootsrap</a> (CSS)</li>
    <li><a href="https://github.com/ediblenergy/pdd" target="_blank">Source @ github</a></li>
</ul>
</div>

